<div class="homepage-container">
    <div class="welcome-section">
      <h1>{{ 'HOMEPAGEWELCOMEHEADLINE' | translate }}</h1>
      <p>
        {{ 'HOMEPAGEWELCOMETEXT' | translate }}
      </p>
    </div>
  
    <div class="features-section">
      <h2>{{ 'FEATURES' | translate }}</h2>
      <ul>
        <li>{{ 'FEATURE1' | translate }}</li>
        <li>{{ 'FEATURE2' | translate }}</li>
        <li>{{ 'FEATURE3' | translate }}</li>
        <li>{{ 'FEATURE4' | translate }}</li>
        <li>{{ 'FEATURE5' | translate }}</li>
      </ul>
    </div>
  
    <div class="cta-section">
      <p>{{ 'GETSTARTEDTEXT' | translate }}</p>
      <button class="start-button" routerLink="/login">{{ 'GETSTARTED' | translate }}</button>
    </div>
  </div>
  