<div class="main-container">
  <div class="content">  
    <div class="map-section">
      <img src="assets/map.jpg" alt="Map Placeholder" />
    </div>

    <div class="console-section">
      <div class="console-log">
          <p *ngFor="let log of consoleLogs" class="log-entry">{{ log }}</p>
      </div>
      <div class="dice-buttons">
          <button *ngFor="let dice of dices" class="dice-button" (click)="selectDice(dice)">
              D{{ dice }}
          </button>
      </div>
      <div class="console-actions">
          <button class="clear-button" (click)="clearDice()">{{ 'CLEAR' | translate }}</button>
          <button class="throw-button" (click)="throwDice()">{{ 'THROW' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="skills-and-inventory-sections">
    <div class="stats-section">
      <h2>{{ 'STATS' | translate }}</h2>
      <ul>
        <li *ngFor="let stat of stats; let i = index">
          <input [(ngModel)]="stat.name" [attr.placeholder]="'STATNAME' | translate">
          <input type="number" [(ngModel)]="stat.value">
          <button (click)="removeStat(i)">-</button>
        </li>
      </ul>
      <button (click)="addStat()">{{ 'ADDSTAT' | translate }}</button>
    </div>
    <div class="abilities-section">
      <h2>{{ 'ABILITIES' | translate }}</h2>
      <ul>
        <li *ngFor="let ability of abilities; let i = index">
          <input [(ngModel)]="ability.name" [attr.placeholder]="'ABILITYNAME' | translate">
          <input type="number" [(ngModel)]="ability.value">
          <button (click)="removeAbility(i)">-</button>
        </li>
      </ul>
      <button (click)="addAbility()">{{ 'ADDABILITY' | translate }}</button>
    </div>
    <div class="inventory-section">
      <h2>{{ 'INVENTORY' | translate }}</h2>
      <ul>
        <li *ngFor="let item of inventory; let i = index">
          <input [(ngModel)]="item.name" [attr.placeholder]="'ITEMNAME' | translate">
          <input type="number" [(ngModel)]="item.value">
          <button (click)="addItem()">-</button>
        </li>
      </ul>
      <button (click)="addItem()">{{ 'ADDITEM' | translate }}</button>
    </div>
  </div>

  <div class="bottom-sections">
    <div class="poker-section">
      <h2>{{ 'DRAWAPOKERCARD' | translate }}</h2>
      <div class="card-display" *ngIf="drawnCard">
        <p class="card">{{ drawnCard }}</p>
      </div>
      <button class="draw-button" (click)="drawCard()">{{ 'DRAWCARD' | translate }}</button>
    </div>
  
    <div class="life-section">
      <h2>{{ 'CHARACTERLIFE' | translate }}</h2>
      <div class="life-group">
        <h3>{{ 'HEALTH' | translate }}</h3>
        <label *ngFor="let state of healthStates">
          <input type="radio" name="health" [value]="state" [(ngModel)]="selectedHealth">
          {{ state }}
        </label>
      </div>
    </div>
  
    <div class="exhaustion-section">
      <h2>{{ 'EXHAUSTION' | translate }}</h2>
      <div class="life-group">
        <h3>{{ 'EXHAUSTIONLEVELS' | translate }}</h3>
        <label *ngFor="let state of exhaustionStates">
          <input type="radio" name="exhaustion" [value]="state" [(ngModel)]="selectedExhaustion">
          {{ state }}
        </label>
      </div>
    </div>
  </div>  
</div>
